body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b1b32;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 20px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-shadow: 2px 2px 5px #ff3333;
    z-index: 1;
}

canvas {
    background-color: transparent;
    z-index: 2;
}
